.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidebar {
  width: 200px; /* Adjust width as needed */
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #f2f2f2; /* Sidebar background color */
  overflow-y: auto; /* Enable scrolling if content overflows */
}

.content {
  margin-left: 200px; /* Account for the width of the sidebar */
  padding: 20px; /* Add padding as needed */
}

.class-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.class-card {
  border: none;
  cursor: pointer;
  display: block;
  width: 250px; 
  position: relative;
  height: 380px;
  align-items: start;
  text-align: left;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s;
}

.class-card:hover {
  transform: translateY(-5px);
}

/* .class-card-content {
  margin-top: -10px;
  
} */

.class-card-content-image {
  flex-shrink: 0;
  position: absolute;
  top: 0;
  width: 250px; /* fixed width */
  height: 166.66px; /* fixed height */
  object-fit: cover;

}

.class-card-content-text {
  padding-left: 10px;
  margin-top: 150px;
}

.class-card h3 {
  font-size: 25px;
  margin-top: 0;
  color: #333;
}

.class-card p {
  font-size: 15px;
  color: #666;
}

.container {
  display: flex;
  align-items: flex-start;
}

.calendar-container {
  width: 70%;
  margin-right: 20px; /* Add margin to create space between calendar and reservation box */
}

.reservation-box {
  width: 30%; /* Adjust width as needed */
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.book-class {
  font-size: 1.2rem;
  color: #333;
}

/* .motivate {
  border: black 1px solid;
} */

.course-box {
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  margin: 10px;

}

